{% extends "bootstrap/base.html" %}
    {% block head %}
        {{ super() }}
        <link rel="icon" type="image/png" href="/static/img/small-logo-01.png">
    {% endblock %}
    {% block navbar %}
       <div class="navbar navbar-inverse" role="navigation">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="{{ url_for('top') }}">主页</a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li><a href="{{ url_for('top') }}">留言板</a></li>
                 </ul>
                 <ul class="nav navbar-nav">
                     <li><a href="{{ url_for('chat') }}">心理咨询</a></li>
                 </ul>
                 <ul class="nav navbar-nav">
                     <li><a href="{{ url_for('res') }}">资讯</a></li>
                 </ul>
                 {% if current_user.is_authenticated %}
                 <ul class="nav navbar-nav">
                     <li><a href="{{ url_for('user', username=current_user.username) }}">个人资料</a></li>
                 </ul>
                 {% endif %}
                 <ul class="nav navbar-nav navbar-right">
                     <li><a>您好,{% if current_user.is_authenticated %}{{ current_user.role.name }}&nbsp;{{ current_user.username }}{% else %}匿名用户{% endif %}</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                     {% if current_user.is_authenticated %}
                     <li><a href="{{ url_for('logout') }}">注销</a></li>
                     {% else %}
                     <li><a href="{{ url_for('login') }}">登录</a></li>
                     {% endif %}
                 </ul>
             </div>
         </div>
       </div>
    {% endblock navbar %}
{% block body %}
    {% block content %}
        <div class = "container">
               {% for message in get_flashed_messages() %}
                   <div class="alert-warning">
                       <a href="" class="close">&times;</a>
                       {{ message }}
                   </div>
               {% endfor %}
        </div>
    {% endblock %}
{% endblock %}