{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
    <title>网络心理咨询系统</title>
    <link href="/static/js/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/style.default.css" rel="stylesheet"/>
    <style>
        html, body {
            background: url("/static/images/leaves.png");
        }

        .img-fluid-1 {
            height: 400px;
            width: 400px;
        }

    </style>
{% endblock %}

{% block body %}

    <!-- Hero Section-->
    <section class="py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-10">
                    <h1 class="text-xl" align="center">欢迎来到 <span class="text-primary">网络心理咨询平台</span></h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Works Section-->
    <section class="pt-5">
        <div class="container">
            <h2 class="h1 text-lg lined" align="left">版块</h2>
            <div style="max-width: 70%;margin:0 auto;">
                <div class="row">
                    <img src="static/img/portfolio/paper-presentation.jpg" alt="留言板" class="img-fluid-1">
                    <img src="static/img/portfolio/a4-paper.jpg" alt="预约" class="img-fluid-1">
                    <img src="static/img/portfolio/a4-paper.jpg" alt="预约" class="img-fluid-1">
                    <img src="static/img/portfolio/a4-paper.jpg" alt="预约" class="img-fluid-1">
                    <img src="static/img/portfolio/a4-paper.jpg" alt="预约" class="img-fluid-1">
                </div>
            </div>
        </div>

    </section>

{% endblock %}
