<!DOCTYPE HTML>
<html>

<head>
{% import "_macros.html" as macros %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>资讯</title>

<!-- Behavioral Meta Data -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" type="image/png" href="/static/img/small-logo-01.png">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href='/static/css/style.css' rel='stylesheet' type='text/css'>


</head>
<body style="background: url('/static/images/leaves.png');">

<a name="ancre"></a>

<!-- CACHE -->
<div class="cache"></div>

{#navbar#}
    <div class="navbar navbar-inverse" role="navigation">
             <div class="container">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="{{ url_for('top') }}">主页</a>
                 </div>
                 <div class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                         <li><a href="{{ url_for('top') }}">留言板</a></li>
                     </ul>
                     <ul class="nav navbar-nav">
                         <li><a href="{{ url_for('chat') }}">心理咨询</a></li>
                     </ul>
                     <ul class="nav navbar-nav">
                         <li><a href="{{ url_for('res') }}">资讯</a></li>
                     </ul>
                     {% if current_user.is_authenticated %}
                     <ul class="nav navbar-nav">
                         <li><a href="{{ url_for('user', username=current_user.username) }}">个人资料</a></li>
                     </ul>
                     {% endif %}
                     <ul class="nav navbar-nav navbar-right">
                         <li><a>您好,{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}匿名用户{% endif %}</a></li>
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                         {% if current_user.is_authenticated %}
                         <li><a href="{{ url_for('logout') }}">注销</a></li>
                         {% else %}
                         <li><a href="{{ url_for('login') }}">登录</a></li>
                         {% endif %}
                     </ul>
                 </div>
             </div>
    </div>

<!-- NAVBAR -->

<div id="wrapper-navbar">
		<div class="navbar object">
    		<div id="wrapper-sorting">
            <div id="wrapper-title-1">
            <div class="top-rated object" onclick="shownews()" >NEWS</div>
            	<div id="fleche-nav-1"></div>
    		</div>
            
            <div id="wrapper-title-2">
            <div class="recent object" onclick="showvideo()">Videos</div>
                <div id="fleche-nav-2"></div>
    		</div>
            
            <div id="wrapper-title-3" style="display: none;">
            <a href="#"><div class="oldies object">Oldies</div></a>
                <div id="fleche-nav-3"></div>
    		</div>
            </div>
            <div id="wrapper-bouton-icon">
            	<div id="bouton-ai"><img src="/static/img/icon-ai.svg" alt="illustrator" title="Illustrator" height="28" width="28"></div>
            	<div id="bouton-psd"><img src="/static/img/icon-psd.svg" alt="photoshop" title="Photoshop" height="28" width="28"></div>
            	<div id="bouton-theme"><img src="/static/img/icon-themes.svg" alt="theme" title="Theme" height="28" width="28"></div>
            	<div id="bouton-font"><img src="/static/img/icon-font.svg" alt="font" title="Font" height="28" width="28"></div>
            	<div id="bouton-photo"><img src="/static/img/icon-photo.svg" alt="photo" title="Photo" height="28" width="28"></div>
            	<div id="bouton-premium"><img src="/static/img/icon-premium.svg" alt="premium" title="Premium" height="28" width="28"></div>
			</div>
    	</div>
    </div>

<!-- FILTER -->	

	<div id="main-container-menu" class="object">
    	<div class="container-menu">
        	
            <div id="main-cross">
            	<div id="cross-menu"></div>
            </div>
            
            <div id="main-small-logo">
            	<div class="small-logo"></div>
            </div>
            
            <div id="main-premium-ressource">
                <div class="premium-ressource"><a href="#">Premium resources</a></div>
            </div>
            
            <div id="main-themes">
                <div class="themes"><a href="#">Latest themes</a></div>
            </div>
            
            <div id="main-psd">
                <div class="psd"><a href="#">PSD goodies</a></div>
            </div>
                
            <div id="main-ai">
                <div class="ai"><a href="#">Illustrator freebies</a></div>
            </div>
            
            <div id="main-font">
                <div class="font"><a href="#">Free fonts</a></div>
            </div>
            
            <div id="main-photo">
                <div class="photo"><a href="#">Free stock photos</a></div>
            </div>
            
        </div>
    </div>

<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!-- PORTFOLIO -->

	<div id="wrapper-container" style="display: block">
    
		<div class="container object">

			<div id="main-container-image">
                       
					<section class="work">
                        {% for item in news %}
                            <figure class="white">
                                <a href="/details/news/{{ item.id }}">
                                    <img src="/static/img/psd-4.jpg" alt="" />
                                    <dl>
                                        <dt >{{ item.title }}<br></dt>
                                        <dd>{{ item.body }}</dd>
                                    </dl>
                                </a>
                                <div id="wrapper-part-info">
                                    <div class="part-info-image"><img src="/static/img/icon-psd.svg" alt="" width="28" height="28"/></div>
                                    <div id="part-info" >{{ item.title }}</div>
                                </div>
                            </figure>
                        {% endfor %}
                        
					</section>
                    
				</div>	
            	    
			</div>
         
    <div id="wrapper-oldnew" >
    	<div class="oldnew">
        	<div class="wrapper-oldnew-prev">
            	<div id="oldnew-prev"></div>
        	</div>
            <div class="wrapper-oldnew-next">
            	<div id="oldnew-next"></div>
    		</div>
        </div>
        {% if pagination %}
         <div class="pagination">
             {{ macros.pagination_widget(pagination, '.res') }}
         </div>
         {% endif %}
	</div>     
            
	<div id="wrapper-thank" style="display: none">
    	<div class="thank">
        	<div class="thank-text">pl<span style="letter-spacing:-5px;">a</span>tz</div>
    	</div>
	</div>
	    
	<div id="main-container-footer" style="display: none">
		<div class="container-footer">
        	
            <div id="row-1f">
            	<div class="text-row-1f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">What is Platz</span><br>Platz is a blog showcasing hand-picked free themes, design stuff, free fonts and other resources for web designers.</div>
            </div>
            
            <div id="row-2f">
            	<div class="text-row-2f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">How does it work</span><br>Platz offers you all the latest freebies found all over the fourth corners without to pay.</div>
            </div>
            
            <div id="row-3f">
            	<div class="text-row-3f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Get in touch!</span><br>Subscribe our RSS or follow us on Facebook, Google+, Pinterest or Dribbble to keep updated.</div>
            </div>
            
            <div id="row-4f">
            	<div class="text-row-4f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Newsletter</span><br>You will be informed monthly about the latest content avalaible.</div>

				<div id="main_tip_newsletter"> 
					<form>
						<input type="text" name="newsletter" id="tip_newsletter_input" list="newsletter" autocomplete=off required>
					</form>
				</div>
            </div>
            
		</div>
	</div>
    
    
    <div id="wrapper-copyright" style="display: none">
		<div class="copyright">
    		<div class="copy-text object">Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">##</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">##</a></div>
    		
			<div class="wrapper-navbouton">
    			<div class="google object">g</div>
    			<div class="facebook object">f</div>
    			<div class="linkin object">i</div>
    			<div class="dribbble object">d</div>
    		</div>
    	</div>
    </div>

</div>
    <div id="wrapper-container2"style="display: none;margin-top: 60px;background:#f4f4f4 ;">

		<div class="container object">

			<div id="main-container-image2">
					<section class="work">
                        {% for item in videos %}
                            <figure class="white">
                                <a href="/details/video/{{ item.id }}">
                                    <img src="/static/img/psd-4.jpg" alt="" />
                                    <dl >
                                        <dt >{{ item.title }}<br></dt>
                                        <dd>{{ item.instruction }}</dd>
                                    </dl>
                                </a>
                                <div id="wrapper-part-info2">
                                    <div class="part-info-image"><img src="/static/img/icon-psd.svg" alt="" width="28" height="28"/></div>
                                    <div id="part-info2" >{{ item.title }}</div>
                                </div>
                            </figure>
                        {% endfor %}

					</section>

				</div>

			</div>

    <div id="wrapper-oldnew2" style="text-align: center" >
        {% if pagination2 %}
         <div class="pagination">
             {{ macros.pagination_widget(pagination2, '.res') }}
         </div>
         {% endif %}
	</div>

</div>

<!-- SCRIPT -->

<script src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-animate-css-rotate-scale.js"></script>
<script type="text/javascript" src="/static/js/fastclick.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.animate-shadow-min.js"></script>    
<script type="text/javascript" src="/static/js/main.js"></script>
<script>

/* PRELOADER */

function preloader() {
	if (document.images) {
		var img1 = new Image();
		var img2 = new Image();
		var img3 = new Image();
		var img4 = new Image();
		var img5 = new Image();
		var img6 = new Image();
		var img7 = new Image();
		var img8 = new Image();
		var img9 = new Image();
		var img10 = new Image();
		var img11 = new Image();
		var img12 = new Image();
		var img13 = new Image();
		var img14 = new Image();
		var img15 = new Image();
		var img16 = new Image();
		var img17 = new Image();
		var img18 = new Image();
		var img19 = new Image();
		var img20 = new Image();

		img1.src = "/static/img/psd-4.jpg";
		img2.src = "/static/img/font-1.jpg";
		img3.src = "/static/img/psd-1.jpg";
		img4.src = "/static/img/psd-2.jpg";
		img5.src = "/static/img/ai-1.jpg";
		img6.src = "/static/img/theme-2.jpg";
		img7.src = "/static/img/psd-3.jpg";
		img8.src = "/static/img/font-2.jpg";
		img9.src = "/static/img/font-3.jpg";
		img10.src = "/static/img/ai-2.jpg";
		img11.src = "/static/img/icons-1.jpg";
		img12.src = "/static/img/ui-1.jpg";
		img13.src = "/static/img/font-5.jpg";
		img14.src = "/static/img/theme-2.jpg";
		img15.src = "/static/img/psd-5.jpg";
		img16.src = "/static/img/icons-3.jpg";
		img17.src = "/static/img/font-4.jpg";
		img18.src = "/static/img/theme-3.jpg";
		img19.src = "/static/img/font-6.jpg";
		img20.src = "/static/img/theme-4.jpg";
	}
}
function addLoadEvent(func) {
	var oldonload = window.onload;
	if (typeof window.onload != 'function') {
		window.onload = func;
	} else {
		window.onload = function() {
			if (oldonload) {
				oldonload();
			}
			func();
		}
	}
}

function showvideo(){
    document.getElementById('wrapper-container2').style.display = 'block';
    document.getElementById('wrapper-container').style.display = 'none';
}

function shownews(){
    document.getElementById('wrapper-container2').style.display = 'none';
    document.getElementById('wrapper-container').style.display = 'block';
}
addLoadEvent(preloader);

</script>

</body>
</html>
