{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}注册{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
    html,body{
        background: url("/static/images/lr.jpg");
    }
    #div_regist
    {
        background: rgba(255,255,255,0.8);
        border-radius: 20px;
        width: 300px;
        height: 350px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    </style>
{% endblock %}
{% block body %}
    {% block content %}
    {{ super() }}
    {% endblock %}
<h1 align="center">注册</h1>
<hr>
    <div id="div_regist" class="col-md-4"  >
        <td>{{ wtf.quick_form(regist_form) }}</td>
        <td><a href="/login"><button style="color: black;background: aliceblue" >返回</button></a></td>
    </div>
{% endblock %}


